:root {
  --cell-size: 20px;
}
.cell {
  flex-direction: column;
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: #e1e8eb;
  border: 1px solid white;
}

.row {
  display: flex;
  flex-direction: row;
}

.alive {
  background-color: #86b1e7;
}

.cell:hover {
  background-color: #adcbf1;
}